<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {% block title %} My Site {% endblock %} </title>
        <script type="text/javascript" src="/layout/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    
        {% for style in styles %}
            <link rel="stylesheet" href="/layout/css/{{style}}">
        {% endfor %}

        {% block head %}
        <!-- <link rel="stylesheet" href="/layout/css/main.css"> -->

        {% endblock %}

    </head>
    <body>
        <div class='center'>
            {% include 'layout/includes/userlogin.html' %}
            
            {% include 'layout/includes/navigation.html' %}

            <div class='content_container'>
                {% block content %}{% endblock %}
            </div>

        </div>
        <script type="text/javascript" src="/layout/js/swig.pack.min.js"></script>
        <script type="text/javascript" src="/layout/js/main.js"></script>
    </body>
</html>