{% extends 'layout/layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/layout/css/main.css">
{% endblock %}

{% block content %}
    <p>This is just an awesome page. {{ foo }}</p>

    <ul id="master">
        {% for x in y %}
            <a href="{{ loop.index }}">
                <li>{{ loop.index }} -  {{ x.master }}</li>
            </a>
        {% endfor %}
    </ul>
   myform: {{ myform|raw }}
    <div id="details">
        {{ details }}
    </div>

 


{% endblock %}